@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    color: #52a8e2;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    border-radius: 1.5rem;
}
.wrapper img{
    width: 60px;
    margin: 0 auto;
    display: block;
}

.wrapper h1{
    text-align: center;
    line-height: 1.2;
    padding: 1rem 0;
}

.wrapper textarea{
    width: 100%;
    border:3px solid  #52a8e2;
    border-radius: 1rem;
    padding: 1rem;
    outline: 0;
    font-size: 1rem;
    font-weight: 300;
    caret-color:  #52a8e2;
    resize: none;
}

.char-update{
    margin: 1rem 0 ;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 1.1rem;
}

@media screen and(min-width: 480px){
    .wrapper textarea{
        width: 400px;
    }
}